
$color-neutral-gray-one: #666666;
$color-neutral-gray-two: #a4a4a4;
$color-neutral-gray-three: #d8d8d8;
$color-neutral-gray-four: #eeeeee;
$color-neutral-gray-five: #f6f6f6;
$color-primary-blue-one: #007ecc;
$color-primary-blue-two: #009dff;
$color-primary-blue-three: #4dbaff;
$color-primary-blue-four: #c4e8ff;
$color-primary-blue-five: #ebf7ff;
$color-secondary-green-one: #619b2e;
$color-secondary-green-two: #7ac23a;
$color-secondary-green-three: #a2d675;
$color-secondary-green-four: #d5ecc0;
$color-secondary-green-five: #f3faee;
$color-secondary-yellow: #ffc933;
$color-secondary-gray: #37465a;
$color-secondary-white: #f3f7f9;
$color-status-success: #619b2e;
$color-status-warning: #ffa532;
$color-status-error: #d42143;
$color-status-info: #008de6;
$scrollbar-width: 8px;
$scrollbar-thumb-color: #009DFF;
$scrollbar-thumb-hover-color: #007ACC;
$scrollbar-thumb-border-radius: 4px;
$scrollbar-track-color: #f1f1f1;
$scrollbar-track-border-radius: 4px;
$sizing-radius: 3px;
$sizing-radius-rounded: 290486px;
$spacing-container-gap: 32px;
$spacing-columns-gutter: 15px;
$spacing-columns-gutter-md: 20px;
$typography-font-family: 'NunitoSans', sans-serif;
$typography-font-size-hero: 64px;
$typography-font-size-h1: 36px;
$typography-font-size-h2: 32px;
$typography-font-size-h3: 28px;
$typography-font-size-h4: 24px;
$typography-font-size-h5: 20px;
$typography-font-size-h6: 18px;
$typography-font-size-paragraph-large: 18px;
$typography-font-size-paragraph-medium: 16px;
$typography-font-size-paragraph-small: 14px;
$typography-font-size-caption: 12px;
$typography-font-size-link-xl: 18px;
$typography-font-size-link-lg: 16px;
$typography-font-size-link-md: 14px;
$typography-font-size-link-sm: 12px;
$typography-font-weight-extra-light: 200;
$typography-font-weight-light: 300;
$typography-font-weight-normal: 400;
$typography-font-weight-medium: 500;
$typography-font-weight-semi-bold: 600;
$typography-font-weight-bold: 700;
$typography-font-weight-extra-bold: 800;
$typography-font-weight-dark: 900;
$z-index-z-index0: 0;
$z-index-z-index1: 1000;
$z-index-z-index2: 1010;
$z-index-z-index3: 1020;
$z-index-z-index4: 1030;
$z-index-z-index5: 1040;
$z-index-z-index6: 1050;
$z-index-z-index7: 9999;
$z-index-z-index8: 5500;
$z-index-z-index-auto: auto;
