
@import '../../styles/_variables.scss'; /* Importa tus tokens generados primero */
@import 'primereact/resources/themes/saga-blue/theme.css'; /* Luego el tema de PrimeReact */

.table-container {
  padding: $spacing-container-gap; /* Usar tu token personalizado */
  background: $color-secondary-white; /* Usar tu token personalizado */
  border: 1px solid $color-neutral-gray-three; /* Usar tu token personalizado */
  border-radius: $sizing-radius; /* Usar tu token personalizado */

  .p-datatable-wrapper {
    scrollbar-width: auto;

    &::-webkit-scrollbar {
      width: $scrollbar-width; /* Usar tu token personalizado */
      height: $scrollbar-width; /* Usar tu token personalizado */
    }

    &::-webkit-scrollbar-track {
      background: $scrollbar-track-color; /* Usar tu token personalizado */
      border-radius: $scrollbar-track-border-radius; /* Usar tu token personalizado */
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb-color; /* Usar tu token personalizado */
      border-radius: $scrollbar-thumb-border-radius; /* Usar tu token personalizado */
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $scrollbar-thumb-hover-color; /* Usar tu token personalizado */
    }

    &::-webkit-scrollbar-button {
      display: none;
      background: none;
    }
  }

  .p-datatable .p-datatable-thead > tr > th {
    background-color: $color-primary-blue-one; /* Usar tu token personalizado */
    color: $color-secondary-white; /* Usar tu token personalizado */
    padding: 0.5rem;
    text-align: center;
    position: relative;
    border: none;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem;
    vertical-align: middle;
    text-align: center;
  }

  .p-datatable .p-datatable-tbody > tr > td .p-inputtext {
    width: 100%;
    box-sizing: border-box;
    font-family: $typography-font-family; /* Usar tu token personalizado */
    font-size: $typography-font-size-paragraph-medium; /* Usar tu token personalizado */
  }

  .p-datatable .p-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ellipsis {
    font-family: $typography-font-family; /* Usar tu token personalizado */
    font-size: $typography-font-size-paragraph-medium; /* Usar tu token personalizado */
  }
}
