.table-container {
    padding: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  
    .p-datatable-wrapper {
      scrollbar-width: thin; /* Ancho del scroll */
      scrollbar-color: #007ad9 #fff; /* Thumb azul y track blanco */
  
      /* Estilos para navegadores basados en WebKit */
      ::-webkit-scrollbar {
        width: 12px; /* Ancho del scroll vertical */
        height: 12px; /* Alto del scroll horizontal */
        background: #fff; /* Fondo blanco */
      }
  
      ::-webkit-scrollbar-track {
        background: #fff; /* Fondo blanco */
        border-radius: 10px; /* Bordes redondeados para el track */
      }
  
      ::-webkit-scrollbar-thumb {
        background: #007ad9; /* Color azul del thumb */
        border-radius: 10px; /* Bordes redondeados para el thumb */
        border: 3px solid #fff; /* Espacio para que las puntas se vean redondeadas */
      }
  
      ::-webkit-scrollbar-thumb:hover {
        background: #005ea0; /* Color azul más oscuro cuando se hace hover */
      }
  
      ::-webkit-scrollbar-button {
        display: none; /* Ocultar las flechas del scroll */
      }
    }
  }
  
  .p-datatable .p-datatable-thead > tr > th {
    background-color: #007ad9; /* Color azul para la cabecera */
    color: white;
    padding: 0.5rem;
    text-align: center;
  }
  
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem;
    vertical-align: middle;
    text-align: center;
  }
  
  .p-datatable .p-datatable-tbody > tr > td .p-inputtext {
    width: 100%;
    box-sizing: border-box;
  }
  
  .p-datatable .p-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  