.grid-container {
	display: flex;
	flex-direction: column;
	padding: 15px 30px;
	gap: 15px;
}


// .ag-theme-siigo .ag-layout-auto-height .ag-center-cols-container {
//     height: auto !important; /* O bien height: 100% !important; */
// }
  
